.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh; /* A altura do monitor */
  overflow: hidden;

  margin-top: 30px;
}

.carousel-images img {
  width: auto; /* Mantém a proporção da imagem */
  height: 100vh; /* Faz com que a imagem tenha a altura do monitor */
  object-fit: cover; /* Ajusta a imagem sem distorcer */
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 10;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.indicators {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 10px;
  z-index: 10;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
}

.indicator.active {
  background: rgba(255, 255, 255, 1);
}

/* Telas menores que 480px */
@media (max-width: 768px) {
  .carousel-images img {
    width: 100%;
    height: auto;
  }
}
